@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) {
  * {
    cursor: none;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  @apply bg-light text-dark dark:bg-dark dark:text-light transition-colors duration-300;
}

h1, h2, h3, h4 {
  font-family: 'Space Grotesk', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #FF5C35;
  border-radius: 4px;
}